body{
    background-color: antiquewhite;
}

.category-wrap {
    padding: 15px;
    background: sandybrown;
    width: 800px;
    box-shadow: 2px 2px 8px rgba(0,0,0,.1);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.category-wrap h3 {
    font-size: 25px;
    color: white;
    margin: 0 0 10px;
    padding: 0 5px;
    position: relative;
}
.category-wrap h3:after {
    content: "";
    width: 6px;
    height: 6px;
    background: #80C8A0;
    position: absolute;
    right: 5px;
    bottom: 2px;
    box-shadow: -8px -8px #80C8A0, 0 -8px #80C8A0, -8px 0 #80C8A0;
}
.category-wrap ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 3px solid white;
}
.category-wrap li {margin: 12px 0 0 0px;}
.category-wrap a {
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: white;
    padding: 5px;
    position: relative;
    transition: .3s linear;
}
.category-wrap a:after {
    content:"\f18e";
    font-family: FontAwesome;
    position: absolute;
    right: 5px;
    color: white;
    transition: .2s linear;
}
.category-wrap a:hover {
    background: #80C8A0;
    color: white;
}


footer{
    position: absolute;/*относительное позиционирование*/
    bottom: 0;
    left: 0;
    width: 100%;/*на всю ширину*/
    padding: 20px 50px;/*поля для контента*/
    background: sandybrown;/*цвет футера*/
    justify-content: center;/*в центре по горизонтали*/
    align-items: center;/*в центре по вертикали*/
    flex-direction: column;
    margin-top: 100px;/*отступ сверху*/
}

.social,
.menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;/*разрешен перенос на новую строку*/
}
.social li,
.menu li{
    list-style: none;/*удалить черные маркеры*/
}
.social li a {
    font-size: 2em;/*размер иконок*/
    color: #fff;/*цвет иконок*/
    margin: 0 10px;
    display: inline-block;/*отображать как строчно-блочный элемент*/
    transition: 0.5s;/*плавный переход*/
}
.menu li a {
    font-size: 1.2em;/*размер ссылок меню*/
    color: #fff;/*цвет ссылок меню*/
    opacity: 0.75;/*значение прозрачности*/
    margin: 0 15px;
    text-decoration: none;/*ссылка без подчеркивания*/
    display: inline-block;
}
.menu li a:hover {
    opacity: 1;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-size: 1.1em;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: sandybrown;
    padding: 20px 10px;
}

.wrap-logo {
    display: flex;
    align-items: center;

}

* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header a {
    color: #fff;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}

header a.logo {
    font-size: 25px;
    font-weight: bold;
}

header a:hover {
    background-color: sandybrown;
    color: #fff;
}

header a.active {
    background-color: sandybrown;
}

nav {
    display: flex;
    align-items: center;
}
