body{
    background-color: antiquewhite;
}

.table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    border-collapse: separate;
}
.table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #EDEDED;
    font-size: 14px;
    border-top: 1px solid #ddd;
}
.table tr th:first-child, .table tr td:first-child {
    border-left: 1px solid #ddd;
}
.table tr th:last-child, .table tr td:last-child {
    border-right: 1px solid #ddd;
}
.table thead tr th:first-child {
    border-radius: 20px 0 0 0;
}
.table thead tr th:last-child {
    border-radius: 0 20px 0 0;
}
.table tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}
.table tbody tr:nth-child(even) {
    background: #F8F8F8;
}
.table tbody tr:last-child td{
    border-bottom: 1px solid #ddd;
}
.table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}
.table tbody tr:last-child td:last-child {
    border-radius: 0 0 20px 0;
}
form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label,
input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: sandybrown;
    padding: 20px 10px;
}

.wrap-logo {
    display: flex;
    align-items: center;

}

* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header a {
    color: #fff;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}

header a.logo {
    font-size: 25px;
    font-weight: bold;
}

header a:hover {
    background-color: sandybrown;
    color: #fff;
}

header a.active {
    background-color: sandybrown;
}

nav {
    display: flex;
    align-items: center;
}
