<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link th:href="@{/css/login.css}" rel="stylesheet" >
</head>
<header>
    <div class="wrap-logo">
        <a class="logo">Автосервис SWAP</a>
    </div>
    <nav>
        <a class="active" href="/user/menu">Главная</a>
        <a href="/user/">Выйти</a>
    </nav>
</header>
<body>
<p align="center"><font size = 20 color="red" face="serif" th:align="center">500 internal server error</font></p>
<p align="center"><font size = 5 color="#4169e1" face="serif" th:align="center"><a href="#" onclick="history.back();return false;">Вернуться назад</a></font></p>
</body>
</html>