<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bid-List</title>
    <link th:href="@{/css/table.css}" rel="stylesheet" >
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th> Номер заявки </th>
        <th> Номера авто </th>
        <th> Услуга </th>
        <th> Статус </th>
        <th> Сумма </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${bidList.empty}">
        <td colspan="2"> Нет активных заявок </td>
    </tr>
    <tr th:each="bid : ${bidList}">
        <td><span th:text="${bid.id}"> Number </span></td>
        <td><span th:text="${#strings.listJoin(bid.registrationNumberList, ',  ')}"> Cars </span></td>
        <td><span th:text="${bid.name}"> Name </span></td>
        <td><span th:text="${bid.status}"> Status </span></td>
        <td><span th:text="${bid.bidAmount}"> Amount </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>