<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bid update employee</title>
    <link th:href="@{/css/login.css}" rel="stylesheet" >2
</head>
<body>
<form class="form" method="post" th:action="@{/bid/update-employee}" th:object="${bid}">

    <div class="form__grid-1">

        <div class="form__cell-1">
            <h3 class="form__head-3">Взять заявку работу</h3>
        </div>

        <div class="form__cell-2">
            <input type="text" placeholder="Номер заявки" class="form__input-1" th:field="*{id}">
        </div>

        <div class="form__cell-6">
            <input type="submit" value="Назначить" class="form__submit-1">
        </div>

    </div> <!-- .form__grid-1 -->
</form>
</body>
</html>