<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car-list</title>
    <link th:href="@{/css/table.css}" rel="stylesheet" >
</head>
<header>
    <div class="wrap-logo">
        <a class="logo">Автосервис SWAP</a>
    </div>
    <nav>
        <a class="active" href="/user/menu">Главная</a>
        <a href="/user/">Выйти</a>
    </nav>
</header>
<body>
<div>
    <h2>Сортировка авто по марке</h2>
    <form method="get" th:action="@{/car/list}" th:object="${sorting}">
        <label><input name="sort" type="radio" value="true" th:field="*{asc}"> По возрастанию<br></label>

        <label> <input name="sort" type="radio" value="false" th:field="*{asc}">По убыванию<br></label>

        <label><input type="submit" value="ОК"></label>
    </form>
</div>

<a href="#" onclick="history.back();return false;">Вернуться назад</a>

<table class="table">
    <thead>
<tr>
        <th> ВИН номер </th>
        <th> Регистрационный номер </th>
        <th> Модель </th>
        <th> Марка </th>
        <th> Лошадиные силы </th>
        <th> Сила модификаций </th>
        <th> Установленные модификаций </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${carList.empty}">
        <td colspan="2"> Нет автомобилей </td>
    </tr>
    <tr th:each="car : ${carList}">
        <td><span th:text="${car.vin}"> Number </span></td>
        <td><span th:text="${car.registrationNumber}"> Name </span></td>
        <td><span th:text="${car.model}"> Status </span></td>
        <td><span th:text="${car.brand}"> Amount </span></td>
        <td><span th:text="${car.horsePower}"> HorsePower </span></td>
        <td><span th:text="${car.modifPower}"> ModifPower </span></td>
        <td>
            <form class="form" th:action="@{/modif/delete}" th:object="${deleteRequest}" method='POST'>
                <select th:field="*{modifId}">
                    <option th:each="modif : ${car.modifList}"
                            th:text="${modif.name}"
                            th:value="${modif.id}">
                    </option>
                </select>
                <input type="hidden" th:value="${car.id}" th:name="carId" th:id="carId"/>

                <div class="form__cell-6">
                    <input type="submit" value="Удалить модификаицию" class="form__submit-1">
                </div>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>