<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link th:href="@{/css/contact1.css}" rel="stylesheet" >
</head>
<header>
    <div class="wrap-logo">
        <a class="logo">Автосервис SWAP</a>
    </div>
    <nav>
        <a class="active" href="/user/menu">Главная</a>
        <a href="/user/">Выйти</a>
    </nav>
</header>
<body>
    <div class="nesolestag-enadenud">
        <h3 class="aio-icon-title" style="text-align:center;">Контакты</h3>

        <div class="ico-wrap"> <i class="fa fa-map-marker ico-contact"></i>
    </div>
    <div class="meanous-andscoev">
        <h4 class="aio-icon-title">График работы автосервиса SWAP</h4>
        <div class="aio-icon-description">
            пн.-сб. с 10:00 до 21:00, с перерывом на обед
            <br>Без выходных</div>
    </div>

    <span class="kesednsoled"></span>

    <div class="ico-wrap">
        <i class="fa fa-envelope ico-contact"></i>
    </div>
    <div class="meanous-andscoev">
        <h4 class="aio-icon-title">Электронная почта:</h4>
        <div class="aio-icon-description">
            zprmet_ru.@mail.ru
            <br>desantura.@mail.ru</div>
    </div>

    <span class="kesednsoled"></span>

    <div class="ico-wrap">
        <i class="fa fa-phone ico-contact"></i>
    </div>
    <div class="meanous-andscoev">
        <h4 class="aio-icon-title">Связь по телефону:</h4>
        <div class="aio-icon-description">
            8 (423) 031-53-78
            <br>8 (723) 904-52-72</div>
    </div>

    <span class="kesednsoled"></span>

    </div>
</body>

<footer>
    <ul class="social">
        <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="logo-linkedin"><ion-icon></a></li>
        <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
    </ul>
    <ul class="menu">
        <li><a href="/info">О нас</a></li>
        <li><a href="/contact">Контакты</a></li>
    </ul>
    <p>©2023 Gr1fak | All Rights Reserved</p>
</footer>
</html>