<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create car</title>
    <link th:href="@{/css/login.css}" rel="stylesheet" >
</head>
<body>
<form class="form" method="post" th:action="@{/car/create}" th:object="${car}">

    <div class="form__grid-1">

        <div class="form__cell-1">
            <h3 class="form__head-3">Добавить автомобиль</h3>
        </div>

        <div class="form__cell-2">
            <input type="text" placeholder="ВИН" class="form__input-1" th:field="*{vin}">
        </div>

        <div class="form__cell-3">
            <input type="text" placeholder="Регистрационный номер" class="form__input-2" th:field="*{registrationNumber}">
        </div>

        <div class="form__cell-3">
            <input type="text" placeholder="Модель" class="form__input-2" th:field="*{model}">
        </div>

        <div class="form__cell-3">
            <input type="text" placeholder="Марка" class="form__input-2" th:field="*{brand}">
        </div>

        <div class="form__cell-6">
            <input type="submit" value="Создать" class="form__submit-1">
        </div>

    </div> <!-- .form__grid-1 -->
</form>
</body>
</html>