<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <link th:href="@{/css/login.css}" rel="stylesheet" >
</head>
<body>

<form class="form" method="post" th:action="@{/employee/login}" th:object="${authRequest}">

    <div class="form__grid-1">

        <div class="form__cell-1">
            <h3 class="form__head-3">Авторизация</h3>
        </div>

        <div class="form__cell-2">
            <input type="text" placeholder="Логин" class="form__input-1" th:field="*{login}">
        </div>

        <div class="form__cell-3">
            <input type="text" placeholder="Пароль" class="form__input-2" th:field="*{password}">
        </div>

        <div class="form__cell-6">
            <input type="submit" value="Войти" class="form__submit-1">
        </div>

    </div> <!-- .form__grid-1 -->
</form>
</body>
</html>