<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car-list</title>
    <link th:href="@{/css/table.css}" rel="stylesheet" >
</head>
<header>
    <div class="wrap-logo">
        <a class="logo">Автосервис SWAP</a>
    </div>
    <nav>
        <a class="active" href="/user/menu">Главная</a>
        <a href="/user/">Выйти</a>
    </nav>
</header>
<body>
<div>
    <h2>Сортировка модификаций по силе</h2>
    <form method="get" th:action="@{/modif/list}" th:object="${sorting}">
        <label><input name="sort" type="radio" value="true" th:field="*{asc}"> По возрастанию<br></label>

        <label> <input name="sort" type="radio" value="false" th:field="*{asc}">По убыванию<br></label>

        <label><input type="submit" value="ОК"></label>
    </form>
</div>

<a href="#" onclick="history.back();return false;">Вернуться назад</a>

<table class="table">
    <thead>
    <tr>
        <th> Название</th>
        <th> Силы </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${modifList.empty}">
        <td colspan="2"> Нет модификаций </td>
    </tr>
    <tr th:each="modif : ${modifList}">
        <td><span th:text="${modif.name}"> Name </span></td>
        <td><span th:text="${modif.modifPower}"> Power </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>