<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <link th:href="@{/css/news1.css}" rel="stylesheet" >
</head>
<body>
    <div class="blog_post">
        <div class="img_pod">
            <img src="https://sun9-17.userapi.com/impg/2FxTZy5MZC3BQC9b05iE9CO6cgjUIa2NymTxVA/HIaumOX28Kk.jpg?size=1372x1920&quality=96&sign=a498c059aa4c517f395ca8906610e2e0&type=album" alt="random image">
        </div>
        <div class="container_copy">
            <h3>12 January 2023</h3>
            <h1>Дрифт в росии вышел на новый уровень</h1>
            <p>Кортон Антонин на своей бмв выйграл всемирный чемпионат Всеволожска по дрифту</p>
            <a class="btn_primary" href='#' target="_blank">Read More</a>
        </div>

    </div>
    <div class="blog_post">
        <div class="img_pod">
            <img src="https://avatars.dzeninfra.ru/get-zen_doc/3373796/pub_5eb545b5cf3f022fdb26bcac_5eb5484dcbfa886ba57ff607/scale_1200" alt="random image">
        </div>
        <div class="container_copy">
            <h3>13 May 2023</h3>
            <h1>Mark2 Chaser или BMW?</h1>
            <p>Ученые центра опросов провели опрос и поняли что если соеденить mark2 c жигули, все равно будет лучше бмв</p>
            <a class="btn_primary" href='#' target="_blank">Read More</a>
        </div>

    </div>
</body>
</html>